.destination-detail {
    margin: 4rem 6rem;
    text-align: center;
}

.destination-detail h1 {
    font-size: 3rem;
    color: #333;
}

.destination-detail h2 {
    font-size: 2rem;
    color: #555;
    margin-top: 20px;
}

.destination-detail h3 {
    font-size: 1.5rem;
    color: #777;
    margin-bottom: 10px;
}

.destination-detail p {
    font-size: 1.2rem;
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
}

.detail-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.detail-text {
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
}

.detail-text h2 {
    padding-bottom: 1rem;
}

.detail-images {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.detail-images img {
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.detail-images img:nth-child(2) {
    position: absolute;
    top: -10%;
    right: 0;
}

/* Hotels & Activities */
.detail-list {
    text-align: left;
    margin-top: 30px;
}

.detail-list h2 {
    font-size: 2rem;
    color: #444;
    margin-bottom: 15px;
}

.detail-list ul {
    list-style-type: none;
    padding: 0;
}

.detail-list ul li {
    font-size: 1.2rem;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

/* Responsive Design */
@media screen and (max-width: 850px) {
    .destination-detail {
        margin: 4rem 2rem;
    }
    .detail-container {
        flex-direction: column;
        text-align: center;
    }
    .detail-text, .detail-images {
        width: 100%;
    }
    .detail-images img {
        height: 250px;
    }
}

.home-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.8rem;
    color: #444;
    cursor: pointer;
    transition: color 0.3s ease;
}

.home-icon:hover {
    color: #000;
}
